<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372622564954-f0hg9nnousfa7v97opo75u31l57n4hbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372622564954-f0hg9nnousfa7v97opo75u31l57n4hbi</string>
	<key>API_KEY</key>
	<string>AIzaSyBJdtfQ1vqr4h0oTamhId_pWyrdI2gB18g</string>
	<key>GCM_SENDER_ID</key>
	<string>372622564954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.lineaschmidt.herzinsuffizienz</string>
	<key>PROJECT_ID</key>
	<string>chf-app-be167</string>
	<key>STORAGE_BUCKET</key>
	<string>chf-app-be167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372622564954:ios:20cdb87dc9d5669dbe4263</string>
	<key>DATABASE_URL</key>
	<string>https://chf-app-be167.firebaseio.com</string>
</dict>
</plist>